Matcha/node_modules
Matcha/public/hot
Matcha/public/storage
Matcha/storage/*.key
Matcha/vendor
Matcha/.DS_Store
Matcha/.env
Matcha/.phpunit.result.cache
Matcha/Homestead.json
Matcha/Homestead.yaml
Matcha/npm-debug.log
Matcha/yarn-error.log
/.idea
/.DS_Store
