:root {
    /*--main-color: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);*/
    --main_one_color: #D76D77;
    --main-color-ob: rgb(74, 50, 60);
    --main-color-ob1: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, rgb(74, 50, 60));
    --main-color: linear-gradient(to right, #FFAF7B, #D76D77, rgb(74, 50, 60));
    /*background: #3A1C71;  !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

}


body {
    color: rgba(68, 79, 87, 0.8);
    /*background-color: white;*/
}


input, textarea {
    color: rgba(68, 79, 87, 0.8);
}
/*#page-preloader {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    !* position: fixed; *!*/
/*    !* left: 0; *!*/
/*    !* top: 0; *!*/
/*    !* right: 0; *!*/
/*    !* bottom: 0; *!*/
/*    background: white;*/
/*    z-index: 100500;*/
/*}*/
#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: white;
    z-index: 100500;
}
.row {
     margin-right: 0px;
     margin-left: 0px;
}
/*#page-preloader .spinner {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    position: absolute;*/
/*    left: 50%;*/
/*    top: 20%;*/
/*    background: url('/images/service/load-gif.gif') no-repeat 50% 50%;*/
/*    !*margin: -16px 0 0 -16px;*!*/
/*}*/

#page-preloader .spinner {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url('/images/service/load-gif.gif') no-repeat 50% 50%;
    /*margin: -16px 0 0 -16px;*/
}

/*input[type="checkbox"]:not(checked) {*/
/*    position: absolute;*/
/*    opacity: 0;*/
/*}*/
/*input[type="checkbox"]:not(checked) + label {*/
/*    position: relative;*/
/*    padding: 0 0 0 45px;*/
/*}*/

/*input[type="checkbox"]:not(checked) + label:before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    !*top: -4px;*!*/
/*    left: 0;*/
/*    width: 35px;*/
/*    height: 20px;*/
/*    border-radius: 13px;*/
/*    background: #CDD1DA;*/
/*    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);*/
/*}*/

/*input[type="checkbox"]:not(checked) + label:after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 2px;*/
/*    left: 2px;*/
/*    width: 15px;*/
/*    height: 15px;*/
/*    border-radius: 10px;*/
/*    background: #FFF;*/
/*    box-shadow: 0 2px 5px rgba(0,0,0,.3);*/
/*    transition: all .2s;*/
/*}*/

/*input[type="checkbox"]:checked + label:before {*/
/*    background: var(--main-color);*/
/*}*/

/*input[type="checkbox"]:checked + label:after {*/
/*    left: 19px;*/
/*}*/


p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

h2 {
    /*color: var(--main_one_color);*/
}
button:focus {
    outline: none;
}
:focus {
    outline: #e6e6e6 auto 2px;
}

textarea:-moz-placeholder { color: rgba(68, 79, 87, 0.4); }

textarea::-webkit-input-placeholder { color: rgba(68, 79, 87, 0.4); }

/*header*/

.logo_img {
    width: 80px;
}
.navbar-collapse.show {
    background: var(--main-color);
    z-index: 99999;
}
.navbar-light .navbar-brand {
    color: rgba(255, 255, 255, 0.9);
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
    color: rgba(255, 255, 255, 1.0);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
}

.navbar-light .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.3);
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: rgba(255, 255, 255, 0.9);
}
.navbar-brand {
    font-size: 1.8rem;
}
#mainPageHeader {
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 99;
}
/*menu*/
.dropdown-item {
    padding: 0.25rem 2.0rem;
    color: rgba(68, 79, 87, 0.8);
}
.dropdown-item_img {
    display: none;
    position: absolute;
}
.dropdown-item:hover .dropdown-item_img {
    display: inline-block;
}
.dropdown-menu a img {
    width: 20px;
    margin-left: 5px;
    /*display: none;*/
}


/*main*/

/* !!! commented by olrudenk 30.08.19, because of chat styles !!! */

/*.row {*/
/*    width: 100%;*/
/*}*/

.py-4 {

}
.card {
    box-shadow: 5px 5px 8px rgba(74, 50, 60, 0.3);
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
#main_container {
    min-height: calc(100vh - 180px);
    text-align: center;
}
#main_container_formain {
    min-height: 100vh;
}

.mainTitle {
    color: white;
    opacity: 0.5;
}
.result_msg {
    font-size: 1.5rem;
}

/*footer*/

.footerMainpage {
    bottom: 0px;
    position: fixed;
    width: 100%;
    color: #fff;
    opacity: 0.6;
    height: auto;
    background: none;
    text-align: right;
}

footer {
    width: 100%;
    height: 80px;
    color: #fff;
    background: var(--main-color-ob);
    background: var(--main-color-ob1);
    background: var(--main-color);
    text-align: right;
}
.copyright {
    padding-right: 20px;
    padding-top: 10px;
}


.navbar-light{
    height: 100px;
    background: var(--main-color-ob);
    background: var(--main-color-ob1);
    background: var(--main-color);
}

.card-header {
    color: rgba(255, 255, 255, 1.0);
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    /*background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);*/
    background: var(--main-color-ob);
    background: var(--main-color-ob1);
    background: var(--main-color);
    /*background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);*/
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    /*border: 1px solid transparent;*/
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    font-size: 0.9rem;
    line-height: 1.6;
    border-radius: 80px;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn:hover {
    cursor: pointer;
}
.btn-outline-secondary {
    border: none;
    color: rgba(255, 255, 255, 0.5);
}
.btn-outline-secondary:hover {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.7);
}
.btn-outline-secondary:focus, .btn-outline-secondary.focus {
    box-shadow: none;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle {
    background-color: transparent;
    border: none;
}

.btn-primary, .edit_submit {
    color: #fff;
    background: var(--main-color-ob);
    background: var(--main-color-ob1);
    background: var(--main-color);
    border: none;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.btn-primary.disabled {
    opacity: 0.3;
    cursor: default;
}

.btn-link {
    font-weight: 400;
    color: rgba(68, 79, 87, 0.8);
    text-decoration: none;
}

.btn-link:hover {
    color: rgba(68, 79, 87, 0.9);
    text-decoration: underline;
}


a {
    color: rgba(68, 79, 87, 0.8);
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: rgba(68, 79, 87, 0.9);
    text-decoration: underline;
}
.card-body a {
    color: var(--main_one_color);
}

/*register*/
#register_form #gender {
    border: 1px solid #ced4da;
}
#register_form #email {
    width: 100%;
}

/*profile*/
.card_profile {
    padding-left: 20px;
    width: 100%;
    /*background-color: white;*/
}

/*.color_div {*/
/*    margin-top: 40px;*/
/*    padding: 40px;*/
/*    background: var(--main-color-ob);*/
/*    background: var(--main-color-ob1);*/
/*    background: var(--main-color);*/
/*    width: 50%;*/

/*}*/

.white_div {
    width:80%;
    margin-left: 20px;
    background-color: white;
    box-shadow: 5px 5px 8px rgba(74, 50, 60, 0.3);
    min-height: 400px;
}
.white_div .card-body {
    margin-top: 40px;
    text-align: left;
    display: flex;
}
#password_form {
    margin-bottom: 0.5rem;
}
.marker {
    width: 80px;
}

#fill_profile {
    top: 120px;
    max-width: 350px;
    background: #fdfdbe;
    position: fixed;
    right: 20px;
    padding: 10px;
    box-shadow: 5px 5px 8px rgba(74, 50, 60, 0.3);
    z-index: 100;
}
#fill_profile_body {
    margin-top: 0px;
}
#fill_profile ul {
    text-align: left;
}
#interests_tags li {
    cursor: pointer;
    background: url("../images/service/hash.png") 0 0% no-repeat;
    list-style-type: none;
    padding-left: 20px;
}
#interests_tags li:hover {
    color: rgba(68, 79, 87, 0.4);
    text-decoration: line-through;
}
#add_interests_img {
    width: 30px;
    cursor: pointer;
}
#right_card {
    display: inline-block;
    /*margin-left: 40px;*/
    /*margin-right: 60px;*/
    /*margin-top: 60px;*/
    /*width: calc(100% - 100px);*/
}
#change_password_title, #interests_tags_title, #age_title, #change_geo_title, .title {
    color: rgba(68, 79, 87, 0.4);
}
#user_age {
    color: rgba(68, 79, 87, 0.8);
}
#change_password_title:hover, #age_title:hover, #user_age:hover, #change_geo_title:hover {
    color: rgba(68, 79, 87, 0.8);
    cursor: pointer;
}
#email {
    width: calc(100% - 80px);
}
#user_bio {
    display: inline-block;
    width: 100%;
}
#user_bio textarea {
    word-wrap: break-word;
    width: calc(100% - 30px);
    max-height: 100%;
    min-height: 180px;
}
#div_useravatar {
    /*top: -90px;*/
    display: inline-block;
    /*height: 200px;*/
    width: 100%;
    /*box-shadow: 5px 5px 8px rgba(74, 50, 60, 0.3);*/
    position: relative;
    /*float: left;*/
}
#user_avatar {
    cursor: pointer;
    margin-top: -90px;
    /*height: 100%;*/
    box-shadow: 5px 5px 8px rgba(74, 50, 60, 0.1);
}
.delete_btn {
    border: none;
    background-color: transparent;
    z-index: 99;
    position: relative;
}
.delete_btn img {
    opacity: 0.7;
}
.delete_btn img:hover {
    opacity: 1;
}

.profile_delete_form {
    text-align: right;
    position: relative;
    width: 100%;
    top:-30px;
}

#download_avatar_png {
    z-index: 99;
}
#div_useravatar input[type=file], .photo_input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
}
#avatar_label, .photo_label {
    display: none;
}
#avatar {
    cursor: pointer;
    margin-top: -90px;
    /*height: 100%;*/
    box-shadow: 5px 5px 8px rgba(74, 50, 60, 0.1);
}
#avatar:hover {
    box-shadow: 5px 5px 10px rgba(74, 50, 60, 0.3);
}
#avatar_errormsg, #photo1_errormsg, #photo2_errormsg, #photo3_errormsg, #photo4_errormsg {
    color: darkred;
}
.usr_photo_div {
    /*min-width: 200px;*/
    /*min-height: 250px;*/
    /*max-width: 24%;*/
    display: inline-block;
    vertical-align: middle;
    /*margin-left: 20px;*/
}
.usr_photo_div:hover{
    cursor: pointer;
}
.camera {
    padding: 20px;
    opacity: 0.5;
}
.camera:hover {
    opacity: 1;
}
.usr_photo {
    cursor: pointer;
    position: relative;
    /*max-width: 100%;*/
    /*max-height: 250px;*/
    z-index: 99;
    box-shadow: 5px 5px 8px rgba(74, 50, 60, 0.3);
}
.edit{
    width: 20px;
    opacity: 0.6;
    /*vertical-align: top;*/
    /*float: right;*/
    height: 20px;
}
.cancel{
    float: none;
}
.edit:hover{
    opacity: 1;
}

.profiledata {
    border: none;
}
.name {
    /*color: var(--main_one_color);*/
    width: calc(100% - 30px);
}
#usr_name_div {
    /*top: 120px;*/
    /*width: 350px;*/
    /*left: 350px;*/
    /*display: flex;*/
    margin-bottom: 20px;
    font-size: 3vw;
    /*position: relative;*/
    /*position: absolute;*/
    /*max-height: 140px;*/
}
#usr_name {
    /*display: flex;*/
    width:100%;
}
.usr_name_btn {
    font-size: 12px;
    color: rgba(68, 79, 87, 0.6);
    background-color: transparent;
    border: none;
}
.usr_name_btn_div button {
    font-weight: bold;
    font-size: 14px;
    /*color: rgba(68, 79, 87, 0.8);*/
    color:#FFAF7B;
}
.usr_name_btn_div {
    margin-bottom: 10px;
    display: inline-block;
}

.usr_name_btn:hover {
    /*color: rgba(68, 79, 87, 0.9);*/
    text-decoration: underline;
}

#name_form, #surname_form {
    line-height: 0;
    position: relative;
    /*z-index: 999;*/
    background-color: transparent;
    font-weight: bold;
    /*left: -5%;*/
    /*top: -100px;*/
    width: 100%;
    /*height: 70px;*/
}
/*#surname_form {*/
/*    position: relative;*/
/*    !*z-index: 999;*!*/
/*    background-color: transparent;*/
/*    font-size: 46px;*/
/*    font-weight: bold;*/
/*    !*top: -50px;*!*/
/*    !*left: -15%;*!*/
/*    !*width: 100%;*!*/
/*    height: 70px;*/
/*}*/
#name_form input, #surname_form input {
    width:100%;
    background-color: transparent;
    letter-spacing: 1.5vw;
    font-weight: bold;
    /*text-shadow: #e6e6e6 1px 1px 0, #e6e6e6 1px 1px 0,*/
    /*#e6e6e6 1px 1px 1px, #e6e6e6 2px 2px 1px,*/
    /*#e6e6e6 3px 3px 1px;*/
}
#name_error_msg, .error_msg {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: darkred;
}
label, .title_data {
    color: rgba(68, 79, 87, 0.4);
}
#gender, #preferences {
    background-color: transparent;
    color: rgba(68, 79, 87, 0.8);
    font-weight: bold;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#gender:hover, #preferences:hover {
    /*-webkit-appearance:  button-bevel;*/
    /*-moz-appearance:  button-bevel;*/
    /*appearance: auto;*/
}
#deletebio_btn {
    position: relative;
    float: right;
    background: white;
    color: rgba(68, 79, 87, 0.8);
}
progress {
    color: #FFAF7B;
    font-size: .6em;
    line-height: 1.5em;
    text-indent: .5em;
    width: 15em;
    height: 1.8em;
    border: 1px solid #e6e6e6;
}
progress::-webkit-progress-bar { background: white; }
progress::-webkit-progress-value { background: #FFAF7B; }
/*-moz-progress-bar { background: var(--main_one_color); }*/

/*crop*/

#crop_div {
    position: fixed;
    width:50%;
    top: 50px;
    left: 20%;
    /*height: 70%;*/
    z-index: 9995;
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0);
}

img {
    max-width: 100%; /* This rule is very important, please do not ignore this! */
}

#canvas {
    height: 600px;
    width: 600px;
    background-color: #ffffff;
    cursor: default;
    border: 1px solid black;
}
.close_btn {
    float: right;
    color: white;
    background-color: darkred;
}
#crop_div .btn,  #crop_div .close_btn {
    filter: grayscale(1);
}
#crop_div .btn:hover,  #crop_div .close_btn:hover{
    filter: grayscale(0%);
}
/*.to_blur.blur {*/
/*    -webkit-filter: blur(5px);*/
/*    -moz-filter: blur(5px);*/
/*    -o-filter: blur(5px);*/
/*    -ms-filter: blur(5px);*/
/*    filter: blur(5px);*/
/*}*/
#parent_popup {
    display: none;
    height: 100%;
    /*opacity: 0.9;*/
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
}
/*body > *:not(#avatar) {*/
/*    filter: blur(3px);*/
/*}*/

#popup {
    background-color: grey;
    opacity: 0.7;
    height: 100%;
    width: 100%;
        /*-webkit-filter: blur(5px);*/
        /*-moz-filter: blur(5px);*/
        /*-o-filter: blur(5px);*/
        /*-ms-filter: blur(5px);*/
        /*filter: blur(5px);*/
}

/* styles for chat*/
.comments-main{
    background: #DDD;
}
.comment time, .comment:hover time {
    -webkit-transition: .25s opacity linear;
    transition: .25s opacity linear;
}
.comments-main ul li{
    list-style: none;
}
.comments .comment {
    padding: 5px 10px;
    background: #FFF;
    margin-left: 4%;
    margin-right: 4%;
}
.comments .comment:hover time{
    opacity: 1;
    margin-right: 4%;
}
.comments .user-img img {
    width: 50px;
    height: 50px;
}
.comments .comment h4 {
    display: inline-block;
    font-size: 16px;
}
.comments .comment h4 a {
    color: #404040;
    text-decoration: none;
}
.comments .comment {
    color: #545454;
    font-size: .85rem;
}
.comments .comment time,.comments .comment ,.comments .comment {
    font-size: .75rem;
    opacity: 0;
    margin-right: 4%;
}
.comments .comment time, .comments .comment {
    font-weight: 300;
    word-wrap: break-word;
}
.comments .comment p {
    font-size: 13px;
}
.comments .comment p {
    color: black;
    cursor: pointer;
}
.comments .comment {
    opacity: 1;
}
.comments .comment:hover .comments .comment:hover {
    opacity: 1;
}
.comment-box-main{
    background: #A1A1A1;
}
@media (min-width: 320px) and (max-width: 480px) {
    .comments .comment h4 {
        font-size: 12px;
    }
    .comments .comment p{
        font-size: 11px;
    }
    .comment-box-main .send-btn button{
        margin-left: 5px;
    }
}
#send-msg:active {
    background-color: #00AF90;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}
#opponents_block {
    background: #f2ffec;
}
/* end styles for chat*/

/*other users profile*/
.action_to_user {
    width: 100%;
    display: flex;
    text-align: center;
    margin-top: 20px;
}
.action_to_user  button{
    border: none;
    background-color: transparent;
    color: rgba(68, 79, 87, 0.8);
    opacity: 0.5;
    filter: grayscale(100%);
    padding: 0;
}
.action_to_user  button, .action_to_user span {
    margin-right: 10px;
}
.action_to_user  button:hover {
    opacity: 1;
    filter: grayscale(50%);
}
.action_to_user .liked {
    opacity: 1;
    filter: none;
}
.action_to_user .liked:hover {
    opacity: 0.5;
    filter: none;
}
.action_to_user  button img,  .action_to_user  span img{
    width: 25px;

}
#fake_error_msg {
    position: absolute;
    margin-top: 30px;
    margin-left: -30px;
}
#like_to_me, #love_notifications span {
    text-align: center;
    color: #FFAF7B;
    transition: font-size 3s, color 2s;
}



/*geo*/

#map {
    height: 500px;
    width: 100%;
}

/*#map div {*/
/*    position: relative;*/
/*    width: 500px;*/
/*    height: 500px;*/
/*}*/
/*html, body {*/
/*    height: 100%;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/
#description {
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

#pac-container {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: none;
    padding: 5px 11px;
}

.pac-controls label {
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background: var(--main-color-ob);
    background: var(--main-color-ob1);
    background: var(--main-color);
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

#geo_form {
    display: inline-block;
    margin-bottom: 10px;
}

/*users*/
.list_users {
    text-align: left;
    border: 1px solid #e6e6e6;
    margin: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    height: calc(100% - 10px);
    /*display: inline-block;*/
}
.list_users_avatar_div {
    display: inline-block;
}
.list_users_avatar {
    width:60px;
    border-radius: 50%;
}
.list_users_info {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    width: calc(100% - 100px);

}
#search_matches_div .list_users_info{
    width: calc(100% - 160px);
}

.list_users a {
    padding: 10px;
    width: 100%;
    height: 100%;
    display: inline-block;
    color: rgba(68, 79, 87, 0.8);
    font-weight: bold;
}
.list_users a:hover {
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}
.list_users_activity {
    color: rgba(68, 79, 87, 0.3);
}

/*search*/
.search_container{
    padding: 20px;

}
.page-item.active .page-link {
    background-color: #FFAF7B;
    border-color: #FFAF7B;
}
.page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 175, 123, 0.25);
}
/*filters*/
#filters_block {
    width:25%;
    float: left;
    margin-left: 20px;
}
.my_slider {
    margin-top: 40px;
}
.noUi-tooltip {
    display: none;
}
.noUi-active .noUi-tooltip {
    display: block;
}
.div_range {
    display: none;
}