:root {
    /*--main-color: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);*/
    --main_one_color: #D76D77;
    --main-color-ob: rgb(74, 50, 60);
    --main-color-ob1: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, rgb(74, 50, 60));
    --main-color: linear-gradient(to right, #FFAF7B, #D76D77, rgb(74, 50, 60));
    /*background: #3A1C71;  !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

}


body {
    color: rgba(68, 79, 87, 0.8);
    /*background-color: white;*/
}


input, textarea {
    color: rgba(68, 79, 87, 0.8);
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

h2 {
    /*color: var(--main_one_color);*/
}
:focus {
    outline: #e6e6e6 auto 2px;
}

textarea:-moz-placeholder { color: rgba(68, 79, 87, 0.4); }

textarea::-webkit-input-placeholder { color: rgba(68, 79, 87, 0.4); }

/*header*/

.logo_img {
    width: 80px;
}
.navbar-light .navbar-brand {
    color: rgba(255, 255, 255, 0.9);
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
    color: rgba(255, 255, 255, 1.0);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
}

.navbar-light .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.3);
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: rgba(255, 255, 255, 0.9);
}
.navbar-brand {
    font-size: 1.8rem;
}
#mainPageHeader {
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 99;
}

/*main*/
.py-4 {

}
.card {
    box-shadow: 5px 5px 8px rgba(74, 50, 60, 0.3);
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
#main_container {
    min-height: calc(100vh - 180px);
    text-align: center;
}
#main_container_formain {
    min-height: 100vh;
}

.mainTitle {
    color: white;
    opacity: 0.5;
}
.result_msg {
    font-size: 1.5rem;
}

/*footer*/

.footerMainpage {
    bottom: 0px;
    position: fixed;
    width: 100%;
    color: #fff;
    opacity: 0.6;
    height: auto;
    background: none;
    text-align: right;
}

footer {
    width: 100%;
    height: 80px;
    color: #fff;
    background: var(--main-color-ob);
    background: var(--main-color-ob1);
    background: var(--main-color);
    text-align: right;
}
.copyright {
    padding-right: 20px;
    padding-top: 10px;
}


.navbar-light{
    height: 100px;
    background: var(--main-color-ob);
    background: var(--main-color-ob1);
    background: var(--main-color);
}

.card-header {
    color: rgba(255, 255, 255, 1.0);
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    /*background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);*/
    background: var(--main-color-ob);
    background: var(--main-color-ob1);
    background: var(--main-color);
    /*background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);*/
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    /*border: 1px solid transparent;*/
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    font-size: 0.9rem;
    line-height: 1.6;
    border-radius: 80px;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn:hover {
    cursor: pointer;
}

.btn-primary, .edit_submit {
    color: #fff;
    background: var(--main-color-ob);
    background: var(--main-color-ob1);
    background: var(--main-color);
    border: none;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.btn-primary.disabled {
    opacity: 0.3;
    cursor: default;
}

.btn-link {
    font-weight: 400;
    color: rgba(68, 79, 87, 0.8);
    text-decoration: none;
}

.btn-link:hover {
    color: rgba(68, 79, 87, 0.9);
    text-decoration: underline;
}


a {
    color: rgba(68, 79, 87, 0.8);
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: rgba(68, 79, 87, 0.9);
    text-decoration: underline;
}
.card-body a {
    color: var(--main_one_color);
}

/*profile*/
.card_profile {
    padding-left: 20px;
    width: 100%;
    /*background-color: white;*/
}

/*.color_div {*/
/*    margin-top: 40px;*/
/*    padding: 40px;*/
/*    background: var(--main-color-ob);*/
/*    background: var(--main-color-ob1);*/
/*    background: var(--main-color);*/
/*    width: 50%;*/

/*}*/

.white_div {
    width:80%;
    margin-left: 20px;
    background-color: white;
    box-shadow: 5px 5px 8px rgba(74, 50, 60, 0.3);
    min-height: 400px;
}
.white_div .card-body {
    margin-top: 40px;
    text-align: left;
    display: flex;
}
#right_card {
    display: inline-block;
    margin-left: 40px;
    margin-right: 60px;
    /*margin-top: 60px;*/
    width: calc(100% - 100px);
}
#user_bio {
    display: inline-block;
    width: 100%;
}
#user_bio textarea {
    word-wrap: break-word;
    width: calc(100% - 30px);
    max-height: 100%;
    min-height: 180px;
}
#div_useravatar {
    top: -90px;
    display: inline-block;
    height: 200px;
    width: 200px;
    box-shadow: 5px 5px 8px rgba(74, 50, 60, 0.3);
    position: relative;
    /*float: left;*/
}
.delete_btn {
    border: none;
    background-color: transparent;
    z-index: 99;
    position: relative;
}
.delete_btn img {
    opacity: 0.7;
}
.delete_btn img:hover {
    opacity: 1;
}

.profile_delete_form {
    text-align: right;
    position: relative;
    width: 100%;
    top:-30px;
}

#download_avatar_png {
    z-index: 99;
}
#div_useravatar input[type=file], .photo_input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
}
#avatar_label, .photo_label {
    display: none;
}
#avatar {
    cursor: pointer;
    height: 100%;
}
#avatar:hover {
    box-shadow: 5px 5px 10px rgba(74, 50, 60, 0.3);
}
#avatar_errormsg, #photo1_errormsg, #photo2_errormsg, #photo3_errormsg, #photo4_errormsg {
    color: darkred;
}
.usr_photo_div {
    min-width: 200px;
    min-height: 250px;
    max-width: 24%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}
.usr_photo_div:hover{
    cursor: pointer;
}
.camera {
    position: absolute;
    opacity: 0.5;
    margin-top: 85px;
}
.camera:hover {
    opacity: 1;
}
.usr_photo {
    cursor: pointer;
    position: relative;
    max-width: 100%;
    max-height: 250px;
    z-index: 99;
    box-shadow: 5px 5px 8px rgba(74, 50, 60, 0.3);
}
.edit{
    width: 20px;
    opacity: 0.6;
    /*vertical-align: top;*/
    float: right;
    height: 20px;
}
.edit:hover{
    opacity: 1;
}

.profiledata {
    border: none;
}
.name {
    /*color: var(--main_one_color);*/
    width: calc(100% - 30px);
}
#usr_name_div {
    /*top: 120px;*/
    /*width: 350px;*/
    /*left: 350px;*/
    display: flex;
    margin-bottom: 60px;
    /*position: relative;*/
    /*position: absolute;*/
    max-height: 140px;
}
#name_form {
    position: relative;
    z-index: 999;
    background-color: transparent;
    font-size: 46px;
    font-weight: bold;
    /*left: -5%;*/
    /*top: -100px;*/
    /*width: 100%;*/
    height: 70px;
}
#surname_form {
    position: relative;
    z-index: 999;
    background-color: transparent;
    font-size: 46px;
    font-weight: bold;
    /*top: -50px;*/
    /*left: -15%;*/
    /*width: 100%;*/
    height: 70px;
}
#name_form input, #surname_form input {
    /*width: calc(100% - 100px);*/
    background-color: transparent;
    letter-spacing: 5px;
    font-weight: bold;
    /*text-shadow: #e6e6e6 1px 1px 0, #e6e6e6 1px 1px 0,*/
    /*#e6e6e6 1px 1px 1px, #e6e6e6 2px 2px 1px,*/
    /*#e6e6e6 3px 3px 1px;*/
}
#name_error_msg, .error_msg {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: darkred;
}
label {
    color: rgba(68, 79, 87, 0.4);
}
#gender, #preferences {
    background-color: transparent;
    color: rgba(68, 79, 87, 0.8);
    font-weight: bold;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#gender:hover, #preferences:hover {
    /*-webkit-appearance:  button-bevel;*/
    /*-moz-appearance:  button-bevel;*/
    /*appearance: auto;*/
}
#deletebio_btn {
    position: relative;
    float: right;
    background: white;
    color: rgba(68, 79, 87, 0.8);
}
progress {
    color: #FFAF7B;
    font-size: .6em;
    line-height: 1.5em;
    text-indent: .5em;
    width: 15em;
    height: 1.8em;
    border: 1px solid #e6e6e6;
}
progress::-webkit-progress-bar { background: white; }
progress::-webkit-progress-value { background: #FFAF7B; }
/*-moz-progress-bar { background: var(--main_one_color); }*/

/*crop*/

/*#imageCanvas {*/
/*    display: none;*/
/*}*/
/*.crop_buttons {*/
/*    position: absolute;*/
/*    z-index: 9997;*/
/*}*/
/*#crop_btn, #reset_btn {*/
/*    margin: 10px;*/
/*}*/

#crop_div {
    position: absolute;
    width:80%;
    height: 70%;
    z-index: 9995;
}

/*.crop-wrapper {*/
/*    background-color:rgba(255,255,255,1);*/
/*    position:absolute;*/
/*    width:100%;*/
/*    height: 100%;*/
/*    overflow:hidden;*/
/*    z-index: 9996;*/
/*}*/

/*.resize-container {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    cursor: move;*/
/*    margin: 0 auto;*/
/*}*/

/*.resize-container-ontop {*/
/*    position:absolute;*/
/*    cursor:move;*/
/*    background-color:rgba(5,255,5,0);*/
/*    z-index:1000;*/
/*    width:100%;*/
/*    height:100%;*/
/*}*/

/*.resize-container img {*/
/*    display: block;*/
/*    !*width: 100%;*!*/
/*    !*height: auto;*!*/
/*}*/

/*.resize-container:hover img,*/
/*.resize-container:active img {*/
/*    outline: 2px dashed rgba(0,0,0,.9);*/
/*}*/


img {
    max-width: 100%; /* This rule is very important, please do not ignore this! */
}

#canvas {
    height: 600px;
    width: 600px;
    background-color: #ffffff;
    cursor: default;
    border: 1px solid black;
}