<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matcha: 500 error</title>
    <link rel="stylesheet" type="text/css" href="public/css/styles.css">
</head>
<body>
<div class="wrapper">
    500 error
</div>
</body>
</html>