{% extends 'base.twig' %}

{% block title %}Matcha: login{% endblock %}

{% block content %}
    <form method="post" action="/login/validate">
        login<br>
        <input type="text" name="login"><br>
        password<br>
        <input type="password" name="password"><br>
        <button type="submit">ok</button>
    </form>
    <a href="{{ path_for('recover') }}">forgot pass?</a><br>
    <a href="{{ path_for('main') }}">back</a>
{% endblock %}