{% extends 'base.twig' %}

{% block title %}Matcha: find your couple!{% endblock %}

{% block content %}

    {% if not logged_in %}
        <a href="{{ path_for('login') }}">login</a><br>
        <a href="{{ path_for('registration') }}">register</a>
    {% else %}
        <p>user is logged in</p>
        <form method="post" action="/logout">
            <button type="submit">log out</button>
        </form>
    {% endif %}

{% endblock %}