{% extends 'base.twig' %}

{% block title %}Matcha: find your couple!{% endblock %}

{% block content %}
    <p>{{ logged_in }}</p>
    <a href="{{ path_for('login') }}">login</a><br>
    <a href="{{ path_for('registration') }}">register</a>
{% endblock %}