{% extends 'base.twig' %}

{% block title %}Matcha: password recover{% endblock %}

{% block content %}
    <form method="post" action="/recover/validate">
        login<br>
        <input type="text" name="login"><br>
        email<br>
        <input type="email" name="email"><br>
        <button type="submit">ok</button>
    </form>
    <a href="{{ path_for('login') }}">back</a>
{% endblock %}